
<div class="suite-js" data-is-suite="{{ suite.id }}"></div>
{% if app.user %}
<div class="client-js" data-is-client="{{ app.user.id }}"></div>
{% endif %}
 
</div>
{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>


    <div class="row">
        <div class="col">
            {{ form_widget(form.suites, {'value' : suite.id}) }}
        </div>


    </div>
{{ form_end(form) }}
  <div id="root"></div>
