{% extends 'base.html.twig' %}

{% block title %}Suites{% endblock %}

{% block body %}

{{dump(suite.reservation)}}
    <div class="suite">
    <h1>{{ suite.titre }}</h1>
                <div class="suiteContent">

          
                   {% for i in suite.images %}
                    <img src="{{ asset('/uploads/'~i.titre) }}" alt="" width='100%'>
                     {% endfor %}
                <p>{{ suite.description }}</p>
                <td>{{ suite.lien }}</td>
                     </div>

    <a href="{{ path('app_suites_index') }}">back to list</a>
    <a href="{{ path('app_reservation_new', {'id': suite.id}) }}">Reserver</a>



{% endblock %}
