<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}

			{{ encore_entry_script_tags('app') }}
		{% endblock %}
        	<header>
			 {# <a class="navbar-brand" href="#"><img src="{{ asset('logo.png') }}" alt="Symfony!"/></a> #}


 </head>
 <body>


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

 <script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

<style>
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
</style>



 <nav class="navbar">
 <!-- LOGO -->
 <div class="logo"> <a href="{{ path('app_etablissements_index') }}"> <img src="{{ asset('./h.png') }}" alt="" width="10%"  >
 <span>ypnos</span></a>


 </div>
 <!-- NAVIGATION MENU -->
 <ul class="nav-links">
 <!-- USING CHECKBOX HACK -->
 <input type="checkbox" id="checkbox_toggle" />
 <label for="checkbox_toggle" class="hamburger">&#9776;</label>
 <!-- NAVIGATION MENUS -->
 <div class="menu">
 <li>    <a href="{{ path('app_etablissements_index') }}">Home</a></li>
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% if (app.user.roles[0] == 'ROLE_ADMIN') %}
 <li><a href="{{ path('app_admin') }}">Admin</a></li>
  {% endif %}
 {% endif %}
 {% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% if (app.user.roles[0] == 'ROLE_GERANT') %}
 <li><a href="{{ path('app_etablissements_a') }}">Gérant</a></li>
  {% endif %}
 {% endif %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% if (app.user.roles[0] == 'ROLE_CLIENT') %}
 <li><a href="{{ path('app_clients_show', {'id' : app.user.id }) }}">Client</a></li>
 {% endif %}
 {% endif %}
 <li class="services">
     <a href="#">Etablissements</a>
 <!-- DROPDOWN MENU -->
 <ul class="dropdown">
 <li><a href="{{ path('app_etablissements_show', {'id': 1}) }}">L'exquis</a></li>
 <li><a href="{{ path('app_etablissements_show', {'id': 2}) }}">L'irrépressible</a></li>
 <li><a href="{{ path('app_etablissements_show', {'id': 3}) }}">L'orgasmique</a></li>
 <li><a href="{{ path('app_etablissements_show', {'id': 5}) }}">L'hibernation</a></li>
 <li><a href="{{ path('app_etablissements_show', {'id': 6}) }}">L'authentique</a></li>
 <li><a href="{{ path('app_etablissements_show', {'id': 7}) }}">L'irrésistible</a></li>
 <li><a href="{{ path('app_etablissements_show', {'id': 8}) }}">L'incroyable</a></li>
 </ul>
 </li>
 <li><a href="{{ path('contact') }}">Contact</a></li>
 {% if is_granted('IS_AUTHENTICATED_FULLY') %}
 <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
 {% else %}
	 

 <li><a href="{{ path('login') }}">Connexion</a></li>{% endif %}
 </div>
 </ul>
 </nav>
 </body>
</html>

	</header>
	</head>
    	  {% for message in app.flashes('warning') %}
    <div class="flash-notice" style="background:#ffa751;height:3rem;font-size:1rem;text-align:center">
        {{ message }}
    </div>
{% endfor %}

	<body>
		{% block body %}
	
		
		{% endblock %}

	</body>
</html>
