{% extends 'base.html.twig' %}

{% block title %}Etablissements index{% endblock %}

{% block body %}
    <h1>Etablissements index2</h1>
    <div class="etablissement">

        {% for etablissement in etablissements %}
 <div class="etablissementContent">
                <div class="etablissementTop">
                <h2>{{ etablissement.nom }}</h2>
                <div class="etablisementNomAdresseVille">
                <p>{{ etablissement.ville }}</p>
                <p>{{ etablissement.adresse }}</p>
                </div>
                </div>
                <p>{{ etablissement.description }}</p>
                
                    <a href="{{ path('app_etablissements_show', {'id': etablissement.id}) }}">Voir</a>
             
              
   
</div>
{% endfor %}
</div>
   
{% endblock %}
