{% extends 'base.html.twig' %}

{% block title %}Etablissements
{% endblock %}

{% block body %}
	<div class="gerantEtablissement">
		<h1>{{ etablissement.nom }}</h1>

		<img src="{{ asset('/uploads/'~etablissement.image[0].titre) }}" alt="" width="100%">


		<div class="gerantEtablissementContent">

			<p>{{ etablissement.ville }}
				-
				{{ etablissement.adresse }}</p>

			<p>{{ etablissement.description }}</p>
		</div>

	</div>


	<div class="gerantContent">
		<h2>Nos suites</h2>


		{% for suite in etablissement.suite %}
			<div class="gerantSuite">
				<h3>{{ suite.titre }}</h2>
				<p>{{ suite.description }}</p>
				<div
					class="gerantImageSuite">
			
					<img src="{{ asset('/uploads/'~suite.images[0].titre) }}" alt="" width="100%">
				</div>
				<div class="tarif">
					<p>Tarif :
						{{ suite.prix }}
						€ / Nuit
					</p>
				</div>
<div class="lienEtablissement">
				<a href="{{ path('app_suites_show', {'id': suite.id}) }}">Voir la suite</a>
</div>
			</div>

		{% endfor %}



</div>

	{% endblock %}
